<h1>Tutors by Location</h1>

<div>   <a href="/profile">Back to Search</a>   </div>

<% tutors.forEach(t => { %>
    <p>
      <strong>
              Name:
              <%= t.firstName %>
              <%= t.lastName %>
        </strong>
        Email:
        <%= t.user %>
        City:
        <%= t.city %>
        State:
        <%= t.state %>
        Description:
        <%= t.description %>
        Rating:
        <%= t.rating %>
        Hourly Rate:
        <%= t.hourlyRate %>


    </p>
    
  <% }) %>
  


<div id="map">
 <script>
     // let lat = document.getElementById('lat').textContent
     // let long = document.getElementById('long').textContent
     mapboxgl.accessToken = '<%= mapKey %>'
     let map = new mapboxgl.Map({
         container: 'map',
         style: 'mapbox://styles/mapbox/streets-v11',
         center: [<%= match.center[0] %>, <%= match.center[1] %>],
         zoom: 12
     })
     
     geojson.features.forEach((marker)=> {
         let el = document.createElement('div')
         el.className = 'marker'
         new mapboxgl.Marker(el)
         .setLngLat(marker.geometry.coordinates)
         .addTo(map)
     })
 </script>
</div>