<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>


<form  method="GET" action="/locationSearch">
    City: <input type="text" name="city" id="" placeholder="city">
    State: <input type="text" name="state" id="" placeholder="state">
    <input type="hidden" name='tutorId' value="<%= tutor.id %>">

    <button type="submit">Submit </button>
</form>

    
 <p>First name: <%= student.firstName %>
 Last name: <%= student.lastName %>
 Email: <%=  %>
 City: <%= student.city %>
 State: <%= student.state %>
 Description: <%= student.description %>       
 </p>





