



    <h2>Profile Page</h2>
    <h3>Welcome to your PROFILE</h3>
<% if (userType == 'student') { %>
    <div class="pure-u-1 pure-u-md-1-3"> 
             
        <form  method="GET" action="/tutor/locationSearch">
            <div class="pure-u-1 pure-u-md-1-3"> 
                <input type="text" name="city" id="" placeholder="city">
            </div>
            <div class="pure-u-1 pure-u-md-1-3"> 
                <input type="text" name="state" id="" placeholder="state">
            </div>
            <div class="pure-u-1 pure-u-md-1-3"> 
                <button type="submit">Submit </button>
            </div>
        </form>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <p>
        <div class="pure-u-1 pure-u-md-1-3"> 
           <%= student.firstName %>
           <%= student.lastName %>
        </div>
        
        <div class="pure-u-1 pure-u-md-1-3"> 
            <%= currentUser.email %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
            <%= student.city %>,
            <%= student.state %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
           <%= student.description %>       
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
            <form action="/student/studentProfileEdit" method="GET">
                <button>Edit</button>
                </form>
                <form action="/student/studentDelete?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </p>
    </div>
    <form action="/student" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" >
        <input type="submit" value="upload">
</form>
        
<% } else { %>
    <div class="pure-u-1 pure-u-md-1-3"> 

        <p> 
        <div class="pure-u-1 pure-u-md-1-3"> 
        <%= tutor.firstName %>
        <%= tutor.lastName %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
        <%= currentUser.email%>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
        <%= tutor.city %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
        <%= tutor.state %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
        <%= tutor.description %>
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
            <%= tutor.hourlyRate %>       
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
        <form action="/tutor/tutorProfileEdit" method="GET">
        <button>Edit</button>
        </form>
        
        </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
        <form action="/tutor/tutorDelete?_method=DELETE" method="POST">
        <button>Delete</button>     
        </form>
                 
        </div>
        </p>
    </div>
<% } %>


