<h1>List of All Tutors on the App</h1>

<% tutors.forEach(t => { %>
    <p>
      <strong>
              Name:
              <%= t.firstName %>
              <%= t.lastName %>
        </strong>
        Email:
        <%= t.user.email %>
        City:
        <%= t.city %>
        State:
        <%= t.state %>
        Description:
        <%= t.description %>
        Rating:
        <%= t.rating %>
        Hourly Rate:
        <%= t.hourlyRate %>


    </p>
    
  <% }) %>