<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>


<p> First name: <%= tutor.firstName %>
    Last name: <%= tutor.lastName %>
    Email: <%=  %>
    City: <%= tutor.city %>
    State: <%= tutor.state %>
    Description: <%= tutor.description %>
    Hourly Rate: <%= tutor.hourlyRate %>       
</p>