<form action="/student/studentProfileEdit?_method=PUT" method="POST">
    
    <form enctype="multipart/form-data" action="/" method="POST">
        <input type="file" name="myFile">
        <input type="submit" class="btn btn-primary">
    </form>
    
    <div class="pure-u-1 pure-u-md-1-3"> 
        <label for="firstName"></label>
        <input id="firstName" type="text" name="firstName" placeholder="first name" value="<%= student.firstName %>">
    </div>

    <div class="pure-u-1 pure-u-md-1-3"> 
        <label for="lastName"></label>
        <input id="lastName" type="text" name="lastName" placeholder="last name" value="<%= student.lastName %>">
    </div>
    
    <div class="pure-u-1 pure-u-md-1-3"> 
        <label for="city"></label>
        <input id="city" type="city" name="city" placeholder="city" value="<%= student.city %>">
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <label for="state"></label>
        <input id="state" type="state" name="state" placeholder="state" value="<%= student.state %>">
    </div>
    
    <div class="pure-u-1 pure-u-md-1-3"> 
        <label for="description"></label>
        <input id="description" type="description" name="description" placeholder='description' value="<%= student.description %>">
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <button type='submit'>Update</button>
    </div>
  
</form>