<h2>Profile Page</h2>

<h3>Welcome to <%= tutors.firstName %>'s PROFILE</h3>



<p> First name: <%= tutors.firstName %>
    Last name: <%= tutors.lastName %>
    Email: <%= foundTutor.email%>
    City: <%= tutors.city %>
    State: <%= tutors.state %>
    Description: <%= tutors.description %>
    Hourly Rate: <%= tutors.hourlyRate %>       
</p>