<h2>Profile Page</h2>

<h3>Welcome to <%= tutors.firstName %>'s PROFILE</h3>

<div class="rating" style="display: inline-block;">
    <input type="radio" value="5" name="rating" id="rating-5"/>
    <label for="rating-5" title="5 stars">*</label>
    <input type="radio" value="4" name="rating" id="rating-4"/>
    <label for="rating-4" title="4 stars">*</label>  
    <input type="radio" value="3" name="rating" id="rating-3"/>
    <label for="rating-3" title="3 stars">*</label>  
    <input type="radio" value="2" name="rating" id="rating-2"/>
    <label for="rating-2" title="2 stars">*</label>  
    <input type="radio" value="1" name="rating" id="rating-1"/>
    <label for="rating-1" title="1 star">*</label>  
</div>

<p>
<div class="pure-u-1 pure-u-md-1-3"> 
<%= tutors.firstName %>
<%= tutors.lastName %>
</div>
<div class="pure-u-1 pure-u-md-1-3"> 
<%= foundTutor.email%>    
</div>
<div class="pure-u-1 pure-u-md-1-3"> 
<%= tutors.city %>,
<%= tutors.state %>
</div>
<div class="pure-u-1 pure-u-md-1-3"> 
Bio: <%= tutors.description %>
</div>
<div class="pure-u-1 pure-u-md-1-3"> 
Hourly Rate: <%= tutors.hourlyRate %>       
</div>
</p>